.thumbs {
  display: none;
}
.carousel-status {
  display: none;
}
.control-arrow {
  display: none;
}
.carousel .control-dots .dot {
  width: 20px;
  height: 20px;
  margin-top: 30px;
}
.carousel .control-dots {
  margin-top: 20px;
  text-align: center;
}
